# ===== General =====

*.log
*.tmp
*.swp
*.lock
.DS_Store
Thumbs.db

# ===== Dart / Flutter =====

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Flutter build metadata

**/ios/Flutter/.last_build_id

# ===== Android =====

/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle
/android/local.properties
/android/captures

# ===== iOS =====

/ios
